/* COLOR PALETTE

*/

.amatic-sc-regular {
    font-family: "Amatic SC", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .amatic-sc-bold {
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
body{
    height: 100%;
    font-family: "Amatic SC", sans-serif;
    margin: 200px;
   
}
#create_test{
    position: absolute;
    right: 45%;
    bottom: 8px;
}

#first_canvas{
    width: 600px;
    height: 500px;
    min-width: 300px;
    min-height: 300px;
    max-width: 500px;
    max-height: 500px;
    position: relative;
    border: 2px solid black;
    
}

.pet-choice-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;


}

.petbackground{
    background-color: bisque;
    border-radius: 10px;
    text-align: center;
    width: 200px;
    min-width: 100px;
}

.chooseYourpetIntro{
    text-align: center;
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20PX;
}
/* hover effect for cards*/
#fireBeastcard{
    width: 200px;
    min-width: 100px;
    transition: transform .5s ease, box-shadow .5s ease;
    

}

#fireBeastcard:hover{
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);

}

#waterBeastcard{
    width: 200px;
    min-width: 100px;
    transition: transform .5s ease, box-shadow .5s ease;
    

}

#waterBeastcard:hover{
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);

}

#grassBeastcard{
    width: 200px;
    min-width: 100px;
    transition: transform .5s ease, box-shadow .5s ease;
    

}

#grassBeastcard:hover{
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);

}

#electricBeastcard{
    width: 200px;
    min-width: 100px;
    transition: transform .5s ease, box-shadow .5s ease;
    

}

#electricBeastcard:hover{
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);

}
.holdCards{
    display: flex;
    justify-content: center;
}
/* pet you chose hovers*/

#fire-pet-choice-selected {
    z-index: 1000;
    position: absolute;
    background-color: brown;
    border-radius: 100px;
    height: 300px;
    width: 300px;
    border: 2px solid black;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    display:  none;
    animation: hoverUpandDown 2s infinite;
}

/*Card chosen animation*/ 
@keyframes hoverUpandDown {
    0% {

        transform: translateY(0px);

    }
    50% {

        transform: translateY(20px);

    }
    100% {

        transform: translateY(0px);

    }

}
